[Desktop Entry]
Name=JearCast
Comment=Desktop music player
Exec=jearcast-wrapper
Icon=com.jearcast.JearCast
Type=Application
Categories=AudioVideo;Music;
StartupWMClass=JearCast
