[Desktop Entry]
Name=JearCast Player
Comment=Escucha música directamente con JearCastApp
Exec=jearcastapp_electrone
Icon=jearcastapp_electrone
Terminal=false
Type=Application
Categories=AudioVideo;Player;
StartupNotify=true
MimeType=application/x-executable;
